x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  identifier:
    image: semtech/mu-identifier:1.10.3
    environment:
      SESSION_COOKIE_SECURE: "on"
    labels:
      - "logging=true"
    logging: *default-logging

  dispatcher:
    image: semtech/mu-dispatcher:2.1.0-beta.2
    volumes:
      - ./config/dispatcher:/config
    labels:
      - "logging=true"
    logging: *default-logging

  frontend:
    image: lblod/frontend-ipdc-enrichment:0.2.0
    links:
      - identifier:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging

  # Your extra services here
  resource:
    image: semtech/mu-cl-resources:1.26.0
    environment:
      LISP_DYNAMIC_SPACE_SIZE: "4096" # 1GB by default, increase to 8GB on systems with a lot of data
    volumes:
      - ./config/resources:/config
    labels:
      - "logging=true"
    logging: *default-logging

  migrations:
    image: semtech/mu-migrations-service:0.9.0
    links:
      - triplestore:database
    environment:
      MU_SPARQL_TIMEOUT: 600
    volumes:
      - ./config/migrations:/data/migrations
    labels:
      - "logging=true"
    logging: *default-logging

  delta-notifier:
    image: semtech/mu-delta-notifier:0.4.0
    volumes:
      - ./config/delta:/config/
    labels:
      - "logging=true"
    logging: *default-logging

  database:
    image: semtech/sparql-parser:0.0.15
    volumes:
      - ./config/authorization/:/config/
      - ./data/authorization/:/data/
    labels:
      - "logging=true"
    logging: *default-logging

  triplestore:
    image: redpencil/virtuoso:1.2.1
    environment:
      SPARQL_UPDATE: "true"
    volumes:
      - ./data/db:/data
      - ./config/virtuoso/virtuoso.ini:/data/virtuoso.ini
    labels:
      - "logging=true"
    logging: *default-logging

  form-content:
    image: lblod/form-content-service:0.1.0
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
    volumes:
      - ./config/form-content:/config

  ################################################################################
  # LDES PRODUCERS
  ################################################################################
  ldes-delta-pusher:
    image: redpencil/ldes-delta-pusher:1.2.9
    environment:
      LDES_ENDPOINT: "http://ldes-backend"
      # Note: we will always work with this feed, as the loket app only works correctly with production data from IPDC
      LDES_BASE: "https://ipdc-ldes-mirror.lblod.info/ldes-feed/"
      LDES_FOLDER: "ipdc-enriched"
      DATA_FOLDER: /data
      CRON_HEALING: "0 0 0 * * *" # Every day at midnight
      AUTO_HEALING: "true"
      SUDO_QUERY_RETRY_TIMEOUT_INCREMENT_FACTOR: 0.003
      SUDO_QUERY_RETRY_FOR_HTTP_STATUS_CODES: 429,500,502,503,504
      INITIAL_STATE_LIMIT: 500
      HEALING_LIMIT: 500
      WRITE_INITIAL_STATE: "false" # This is replaced by a mu script
      DIRECT_DB_ENDPOINT: "http://triplestore:8890/sparql"
      # Note: these variables are documented in https://github.com/lblod/ldes-producer.
      #  This repo is a dependency of this service.
      PAGE_RESOURCES_COUNT: 20
      FOLDER_DEPTH: 1
      LDES_STREAM_PREFIX: "http://data.lblod.info/ldes/ipdc-enriched/version/"
    volumes:
      - ./config/ldes:/config
      - ./data/ldes-feed/:/data/
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
  ldes-backend:
    image: lblod/ldes-serve-feed-service:0.4.0
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"
    environment:
      # Update these per deploy environment!
      BASE_URL: "https://qa.ipdc-ldes-mirror.lblod.info/ldes-feed/"
      CACHE_SIZE: 100
      DATA_FOLDER: "/data"
    volumes:
      - ./data/ldes-feed/:/data/

  modified:
    image: lblod/track-modified-service:0.2.0
    labels:
      - "logging=true"
    volumes:
      - ./config/modified:/config
    restart: always
    logging: *default-logging

  ################################################################################
  # LDES PRODUCERS: END
  ################################################################################

  ################################################################################
  # LDES CONSUMER
  ################################################################################

  ipdc-ldes-consumer:
    image: redpencil/ldes-consumer:feature-dont-persist-unemitted-members-in-state
    volumes:
      - ./data/ldes-consumer:/data
    environment:
      LDES_ENDPOINT_VIEW: "https://ipdc-ldes-mirror.lblod.info/instancesnapshots"
      MU_APPLICATION_GRAPH: "http://mu.semte.ch/graphs/ipdc/ldes-data"
      INGEST_MODE: "MATERIALIZE"
      REPLACE_VERSIONS: "true"
      PERSIST_STATE: "true"
      SPARQL_BATCH_SIZE: "50"
      SUDO_QUERY_RETRY: "true"
      SUDO_QUERY_RETRY_FOR_HTTP_STATUS_CODES: "404,500,503"
      NODE_OPTIONS: "--max-old-space-size=8192"
      LOG_LEVEL: "debug"
      LOG_SPARQL_ALL: true
    restart: always
    logging: *default-logging
    labels:
      - "logging=true"

  ################################################################################
  # LDES CONSUMER: END
  ################################################################################

  uuid-generation:
    image: redpencil/uuid-generation:0.4.0
    environment:
      RUN_CRON_JOBS: "true"
      CRON_FREQUENCY: "0 * * * *" # every hour
    volumes:
      - ./config/uuid-generation/:/config
    restart: always

  project-scripts:
    image: semtech/mu-scripts:1.0.0
    volumes:
      - ./scripts/:/app/scripts/
    restart: "no"
