services:
  identifier:
    ports:
      - "80:80"
    restart: "no"
  triplestore:
    ports:
      - "8890:8890"
    restart: "no"

  dispatcher:
    restart: "no"

  resource:
    restart: "no"

  migrations:
    restart: "no"

  delta-notifier:
    restart: "no"

  database:
    restart: "no"